<%= form_for([@todo_list, @todo_list.todo_items.build], :html => { :class => "form-horizontal" }) do |f| %>
  <%= f.text_field :content, class: "form-control", placeholder: "New Todo" %>
  <%= f.text_field :tag_list, class: "form-control", placeholder: "Tags (separated by commas)" %>
  <%= f.submit "Submit!", class: "btn btn-default" %>
<% end %>
