<p>
<% if todo_item.completed? %>
  <i class="fa fa-check-square-o"></i>
  <span style="opacity: 0.4;"><strike><%= todo_item.content %></strike></span>

  || Tags: <%= todo_item.tag_list %> ||
  
  <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: {confirm: "Are you sure?"} do %>
    <i class="fa fa-trash-o"></i>
  <% end %>
  
<% else %>

  <%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
    <i class="fa fa-square-o"></i>
  <% end %>
  
  <%= todo_item.content %>
  
  || Tags: <%= raw todo_item.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> ||
  
  <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: {confirm: "Are you sure?"} do %>
    <i class="fa fa-trash-o"></i>
  <% end %>
<% end %>
</p>


