<%= form_for @todo_list, :html => {:class => "form-horizontal"} do |f| %>

  <!--Error Messages-->
  <% if @todo_list.errors.any? %>
    <div class="alert alert-danger text-left">
      <%= pluralize(@todo_list.errors.count, "error") %> prevented the list from being saved:</h2>
      <ul>
      <% @todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <!--List Name-->
  <div class="form-group">
    <%= f.label :title, class: "control-label sr-only" %>
    <%= f.text_field :title, class: "form-control", placeholder: "Name Of Your List" %>
  </div>
  
  <!--List Description-->
  <div class="form-group">
    <%= f.label :description, class: "control-label sr-only" %>
    <%= f.text_area :description, class: "form-control", placeholder: "Describe Your List" %>
  </div>
  
  <!--Submit Button-->
  <%= f.submit "Submit", class: "btn btn-default" %>
<% end %>
