<% provide(:title, "ToDo App") %>
<h1>My Todo Lists</h1>
<table class="table table-hover list-table">
  <thead>
    <td>List Name</td>
    <td>Admin Controls</td>
  </thead>
  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td class="vert-align"><%= todo_list.title %></td>
        <td class="vert-align">
          <div class="btn-group">
            <%= link_to 'Manage', todo_list, class: "btn btn-default" %>
            <%= link_to 'Destroy', todo_list, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="taller" colspan="2"><%= link_to 'Add A New List', new_todo_list_path, class: "btn btn-success" %></td>
    </tr>
    <tr><td colspan="3"></td></tr>
  </tbody>
</table>



