<% if @todo_list.todo_items.empty? %>
  <p class="alert alert-warning">You have an empty list. Add some items to your list!</p>
<% end %>

<div>
  <h1>
    <%= @todo_list.title %>
  </h1>
  
  <p class="lead text-center">
    <%= @todo_list.description %>
  </p>
</div>

<div id="todo_items_wrapper">
  <%= render @todo_list.todo_items %>
  <div id="form">
    <%= render "todo_items/form" %>
  </div>
</div>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
