@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* Notices */
#notice {
  text-align: center;
  font-size: 0.8em;
  border: 1px solid black;
  border-radius: 5px;
  padding: .5em 5em;
}
    
/* Navbar */

.navbar-brand {
  font-weight: bold;
  font-size: 1.7em;
}

/* Typography */

h1 {
  text-align: center;
}

/* Tables */

.list-table {
  text-align: center;
  font-weight: bold;
}

.table tbody>tr>td.vert-align {
    vertical-align: middle;
}

.table tbody>tr>td.taller {
    vertical-align: bottom;
}

/* Form */
form {
  padding: 10px 10px 10px 10px;
}

