<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "TODO APP", '#', class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-home"></span> Home 
        <% end %>
      </li>
      <li>
        <%= link_to new_todo_list_path do %>
          <span class="glyphicon glyphicon-list-alt"></span> New List 
        <% end %>
      </li>
    </ul>
  </div><!--/.container -->
</nav>